<div class="card card-stats">
    <div class="card-body pt-0">
        <div class="row">
        <div class="col-12 p-0 text-center">
            <img [src]="bike.imageName" [alt]="bike.manufacturer + ' ' + bike.model"/>
        </div>
        <div class="col-12 my-3">
            <div class="numbers">
            <h4 class="mb-2 text-truncate">{{bike.manufacturer}} - {{bike.model}}</h4>
            <p class="mb-0"><b>Manufacturer:</b> {{bike.manufacturer}}</p>
            <p class="mb-0"><b>Model:</b> {{bike.model}}</p>
            <p class="mb-0"><b>Category:</b> {{bike.category}}</p>
            <p class="mb-0"><b>Colour:</b> {{bike.colour}}</p>
            <p class="mb-0"><b>Weight:</b> {{bike.weight}} kg</p>
            <p class="mb-0"><b>Price:</b> {{bike.price}}</p>
            </div>
        </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-orange" (click)="addBikeToFavourites(bike)">
          {{ bike.isFavourite ? 'Go to Favourites' : 'Add to Favourites' }}
        </button>
        
        <p *ngIf="bike.inFavourites" class="d-flex align-items-center gap-1"><span class="star">&#9733;</span> In favourites</p>

          <button type="button" class="btn btn-primary" (click)="viewDetails(bike)">
            View Details
        </button>
    </div>
</div>
