<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/">
      <img
        src="assets/images/angular_logo.png"
        height="30"
        class="d-inline-block align-top"
        alt="Angular Starters Logo"
        loading="lazy"
      />
  
      Bike Shop UI
    </a>
    <div class="mr-auto"></div>
    <div class="navbar-expand">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/home"
          >Home</a
        >
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/my-favourites"
          >My Favourites</a
        >
         <a class="nav-item nav-link" routerLinkActive="active" routerLink="/add-bike"
          >Add New Bike</a
        >
      </div>
    </div>
  </div>
</nav>
