@import 'bootstrap/scss/bootstrap';

$white: #fff;
$background: #f7f7f7;
$text-color: #252422;
$font-family: 'Roboto', sans-serif;
$orange: #ee7e12;
$orange-dark: #c6670b;
$star-color: #ffd700;

html,
body {
  background: $background;
  height: 100%;
  font-family: $font-family;
}

.btn-orange{
  background-color: $orange;
  color: $white;
  &:hover {
    color: $white;
    background-color: $orange-dark;
  }
}

.card {
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
  background-color: $white;
  color: $text-color;
  margin-bottom: 20px;
  border: 0 none;
}

.card-stats {
  .card-body {
    padding: 15px 15px 0;
  }
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 63px;
  }
  .card-footer p {
    margin: 0;
  }
  .card-body {
    img {
      object-fit: cover;
      width: 100%;
      max-width: 300px;
    }
  }
  .star {
    font-size: 1.5rem;
    color: $star-color;
  }
}
